.icon-other {
  color: #353235;
}
.icon-language {
  color: #FF7974;
}
.icon-examination {
  color: #B54BE0;
}
.icon-computer {
  color: #2C5891;
}
.icon-profession {
  color: #5785C8;
}
.icon-design {
  color: #67C6AD;
}
.icon-life {
  color: #F4B536;
}
